name: React CI CD (Self Hosted)

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: npm install

      - name: Build application
        run: npm run build

      - name: Deploy build to server directory
        run: |
          set -e
          sudo rm -rf /var/www/react/*
          sudo cp -r dist/* /var/www/react/

      - name: Restart Nginx
        run: sudo systemctl restart nginx
